.collections-overview {
  display: flex;
  flex-direction: column;

  .collection-overview-title {
    padding-bottom: 7px;
    font-weight: normal;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -.4rem;
    letter-spacing: .75px;
  }
}