.sign-up {
  width: 75vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;

  .title {
    margin: 22px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

  .sign-up-form {
    position: relative;

    & .error-message {
      font-size: 20px;
      color: salmon;
    }
  }
}

@media screen and (min-width: 1200px) {
  .sign-up {
    width: 30vw;
    display: flex;
    text-align: left;
    flex-direction: column;

    .title {
      margin: 22px 0;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;
    }

    .sign-up-form {
      position: relative;

      & .error-message {
        font-size: 20px;
        color: salmon;
      }
    }
  }
}
