.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: .15rem;
    overflow-y: auto;
  }

  .custom-button {
    margin-top: auto;
    padding: 10px;
  }

  .total {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: .2rem;
    background-color: #222;
  }

  .empty-message {
    color: black;
    margin: auto;
    font-size: 20px
  }
}

@media screen and (max-width: 881px) {
  .cart-dropdown {
    top: 110px;
  }
}