.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    padding: 25px;

    .logo {
      filter: brightness(5);
    }

  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      font-size: 20px;
      font-weight: normal;
      padding: 10px 15px;
      margin: 0 5px 0 5px;
      border-bottom: 1px solid transparent;
      transition: border-bottom .25s;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid white;
      }
    }

    .selected {
      border-bottom: 1px solid white;
    }
  }
}
