.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;

  img {
    width: 32%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name,
    .price {
      color: black;
      font-size: 16px;

      .item-button {
        background-color: #333;
        border: none;
        padding: 2px 4px;
        color: white;
        cursor: pointer;
      }
    }
  }
}