.collection-page {
  display: flex;
  flex-direction: column;

  .collection-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: lowercase;
    border-bottom: 1px solid gray;

    span {
      color: #bbb;
      font-size: 30px;
      font-weight: normal;
      margin: 0 2.5rem;
      padding-bottom: 3px;
      border-bottom: 1px solid transparent;
      transition: all .22s;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: #fff;
        border-bottom: 1px solid white;
      }
    }

    .selected {
      color: #fff;
      border-bottom: 1px solid white;
    }
  }

  .collection-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    justify-items: center;

    & .collection-item {
      margin-bottom: 20px;
      width: 75%;
    }
  }
}