.error-page {
  position: relative;
  top: 18vh;
  padding: 30px 80px;
  max-width: 600px;
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: linear-gradient(90deg, #111 0%, #333 100%);
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid white;
}