.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;

  .link-container {
    padding-bottom: 5px;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;

    .title {
      font-size: 32px;
      margin-bottom: 25px;
      text-transform: uppercase;
      transition: color .24s;
  
      &:hover {
        color: #61DAFB;
      }
    }
  }


  .preview {
    display: flex;
    justify-content: space-between;
  }
}
