body {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;

  height: 100%;
  background: linear-gradient(0, #222, #3b3b3b);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
}

/* Scroll Bar Styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::selection {
  background-color: black;
  color: lightgray;
}
