.checkout-page {
  width: 54%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: uppercase;
      width: 23%;
      letter-spacing: 1px;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
    padding: 5px;
    // background-color: #222;
  }

  .empty-message {
    font-size: 20px;
  }
}
